
@font-face {
    font-family: sawara;
    src: url(../fonts/Rubik-Regular.ttf);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'sawara';
}

a {
    text-decoration: none;
    color: #61230b;
}

header {
    position: fixed;
    height: 43px;
    width: 100%;
    margin-bottom: 3px;
    box-shadow: 1px 1px 1px #bdb2b2;
    background: white;
}

.logo {
    height: 43px;
    padding: 5px 0;
    display: block;
    margin: auto 5px;
    float: left;
}

.container {
    width: 95%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.nav {
    display: flex;
}

.nav a {
    background: #e6e6e6;
    margin: auto 2px;
    padding-right: 10px;
    padding-left: 10px;
    height: 30px;
    line-height: 30px;
}

.nav a:hover {
    background: #ffffff;
}

input {
    height: 25px;
    padding: 2px 10px;
    border-radius: 5px;
    border: 1px solid #cfc7c7;
}
.pb0 {
    padding-bottom: 0;
}

.pt0 {
    padding-top: 0;
}

.pr0 {
    padding-right: 0;
}

.pl0 {
    padding-left: 0;
}

.mb0 {
    margin-bottom: 0;
}

.mt0 {
    margin-top: 0;
}

.mr0 {
    margin-right: 0;
}

.ml0 {
    margin-left: 0;
}

.mb1 {
    margin-bottom: 5px;
}
.mt2{
    margin-top: 10px;
}
.my3{margin: 35px 0;}
.m-auto{
    margin: auto;
}

.fr {
    float: right;
}

.fl {
    float: left;
}

.btn {
    display: inline-block;
    padding: 7px 10px;
    font-size: 14px;
    background: #2f4f4f;
    color: #ffffff;
    cursor: pointer;
}

.btn.success {
    background: #318e0a;
    color: #fff;
}
.btn.auth:hover{
    opacity: 0.7;
}
.btn.auth{
    padding: 10px 35px;
    background: darkgreen;
    border: 1px solid;
}
.header {
    display: flex;
    justify-content: space-between;
}

#loadBar {
    height: 2.5px;
    background: #f58021;
}

.search-form {
    display: flex;
    flex-grow: 1;
    margin-top: 5px;
    margin-left: 20px;
}

.search-form input {
    min-width: 85%;
}
.search-form button{
    cursor: pointer;
    height: 25px;
    padding: 2px 10px;
    background: #cf6022;
    color: #ffffff;
    border: 1px solid #cd6836;
    border-radius: 2px;
}
.search-toggle{
    display: none;
    cursor: pointer;
    margin: auto 2px;
    padding-right: 10px;
    padding-left: 10px;
    height: 30px;
    line-height: 30px;
}

.wrapper {
    padding-top: 46px;
}

.d-row {
    display: flex;
    justify-content: flex-end;
}
.d-block{
    display: block;
}
.d-flex {
    display: flex;
}
.d-inline {
    display: inline-block;
}

.sidebar-right {
    position: fixed;
    padding: 20px 10px;
    left: 2.5%;
    width: 200px;
    background: #f5f5f5;
    min-height: calc(100vh - 82px);
}
.sidebar-right ul{
    list-style: none;
    padding: 0;
}
.sidebar-right ul li a{
    background: #bca298;
    color: #ffffff;
    text-align: center;
    display: block;
    padding: 3px;
    margin: 2px;
}

.content {
    background: #ffffff;
    min-height: calc(100vh - 84px);
    padding: 20px;
    width: calc(100% - 200px);
}

.nav-toggle{
    position: fixed;
    z-index: 3;
    cursor: pointer;
    padding: 5px 15px;
    background: #2f4f4f;
    color: #ffffff;
}

.nav.hide, .logo-div.hide{
    display: block !important;
}
@media (max-width: 768px){
    .nav-toggle.hide{
        display: inline;
    }
    .sidebar-right{
        display: none;
    }
    .content{
        padding-top: 30px;
        width: 100%;
    }
    .sidebar-right.show, .search-form.show{
        display: block !important;
    }
    .nav.hide{
        display: none !important;
    }
    .search-form{
        display: none;
    }
    .search-toggle{
        display: inline-block;
    }
}

.question {
    padding: 10px;
    background: #fff8f2;
    border-bottom: 1px solid #e4d2c2;
}
.question .votes,
.question .answers {
    display: inline-block;
    text-align: center;
    padding: 2px 10px;
    margin: 0 2px;
    min-width: 38px;
    font-size: 12px;
    vertical-align: text-top;
    border: 1px solid #e4d2c2;
    border-radius: 5px;
}

.mini-count {
    font-size: 14px;
}

.summary {
    padding: 5px;
}

.summary h4 {
    margin: 0;
    font-weight: 500;
    color: #7b0b0b;
}

.tags {
    display: inline-block;
    margin-right: 10px;
    font-size: 13px;
}

.authored {
    font-size: 13px;
    float: right;
}

footer {
    position: relative;
    height: 40px;
    background: #61230b;
}
.auth-wrapper{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
}
.auth-wrapper form{
    width: 100%;
    max-width: 450px;
    text-align: center;
    padding: 30px;
    border: 1px solid gainsboro;
}
input.control:focus, textarea.control:focus{
    border: 1px solid ;
}
input.control{
    width: 100%;
    display: block;
    height: 35px;
    outline: 0;
    padding: 5px 15px;
}
textarea.control{
    width: 100%;
    min-height: 200px;
    border-radius: 5px;
    padding: 10px;
    outline: 0;
}
.input-error{
    font-size: 12px;
    color: red;
    height: 12px;
    margin: 0 0 10px;
    text-align: left;
}
.alert{
    padding: 10px;
    font-size: 14px;
    margin-top: 0;
}
.alert.success{
    background: #088200;
    color: #ffffff;
}
div.loader {
    text-align: center;
    font-size: 40px;
    margin: 45px auto;
}
.hide{
    display: none;
}
.ask{
    width: 80%;
    margin: auto;
}
.questions .qtitle{
    font-weight: 500;
}
.answer .voting{
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.answer .votes{
    border: 0;
    font-size: 25px;
    vertical-align: middle;
    display: inline-block;
    text-align: center;
    padding: 2px 10px;
    margin: 0 2px;
}
.answer{
    padding-bottom: 5px;
    border-bottom: 1px solid #e0e0e0;
}
.answer::after{
    content: "";
    clear: both;
    display: block;
}
.accept-answer.accepted, .answers.accepted{
    background: darkgreen;
    color: #ffffff;
    border-color: darkgreen;
}
.accept-answer{
    border: 1px solid;
    border-radius: 25px;
    padding: 3px;
    margin: 2px;
}
.user .title{
    font-size: 30px;
    margin: 10px auto;
}
.user-contrib{
    display: flex;
    justify-content: space-around;
    text-align: center;
    border-bottom: 1px solid #bca298;
}
.sort{
    text-align: right;
    margin: 10px auto;
}
.sort a{
    border: 1px solid ;
    padding: 5px 15px;
}
.tabs{
    margin: 5px auto;
}
.tabs a{
    border: 1px solid ;
    padding: 2px 25px;
    font-size: 13px;
    color: #088200
}
.tabs a.active{
    color: #ffffff;
    background: #088200;
    border-color: #088200;
}
.sort a.active{
    color: #ffffff;
    background: #7b0b0b;
    border-color: #7b0b0b;
}
.answer.my3{
    margin: 20px auto;
    padding: 10px;
}
.votes .voted{
    color: #088200;
}
.users .user{
    display: inline-block;
    padding: 15px 25px;
    border: 1px solid #c0c0c0;
    margin: 3px;
}
.users .user div{
    display: inline-block;
    margin: 3px;
}
.users .user a{
    font-weight: bold;
    letter-spacing: 0.1rem;
}
.users .user p{
    margin: 5px auto;
    font-size: 13px;
    border-top: 1px solid #c0c0c0;
}
.users .user h3{
    display: inline-block;
    margin: 2px;
}